* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    backface-visibility: hidden;
}

.left {
    float: left;
}

.right {
    float: right
}

.clear {
    clear: both;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: 10px;

    color: #595959;
    text-align: justify;
    
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    min-width: 300px;


}

.main {
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.3);
    margin: 0;
    background: rgba(255, 255, 255, 0.89);
    width: 75vw;
    padding: 80px 40px 40px 40px;
    position: relative;
    left: 50%;
    overflow-x: hidden;
    transform: translateX(-50%);
    border-left: 1px solid rgb(194, 194, 194);
    border-right: 1px solid rgb(194, 194, 194);


}

.topbar {
    display: inline-block;
    background-color: rgb(177, 71, 92);
    position: relative;
    width: 75vw;
    left: 50%;
    transform: translateX(-50%);
    padding: 1em;
    border-left: 1px solid rgb(141, 56, 73);
    border-right: 1px solid rgb(141, 56, 73);
    border-top: 1px solid rgb(141, 56, 73);

}

.topbar-section{
    display: flex;
    flex-direction: column;
    padding: 0 2em;
}

.control-nav {
    background-color: #595959;
    width: 75vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 1em;
    color: #595959;

}

.control-nav a,
.control-nav button {
    border: none;
    text-decoration: none;
    padding: 10px;
    margin: 0 2px;
    font-size: 11px;
    background-color: #fff;
    color: rgb(177, 71, 92);
    display: inline-block;
    transition: background-color 0.15s, color 0.15s;
}

.control-nav a:hover {
    background-color: rgb(177, 71, 92);
    color: #fff;
}

.jamesPic {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 80px;
    width: 80px;
    border-radius: 100%;
    margin-left: 30px;

}

.navbar a, .btn {
    text-decoration: none;
    padding: 0.75em 2em;
    margin: 0 1em 0 0;
    background-color: #fff;
    color: rgb(177, 71, 92);
    display: inline-block;
    transition: background-color 0.15s, color 0.15s;
    border: rgb(177, 71, 92) 2px solid;;
}

.navbar a:hover, .btn:hover {
    background-color: rgb(177, 71, 92);
    color: #fff;
}

.navbar {
    font-weight: 500;
    width: 100%;
    text-align: left;
}


.title {
    display: inline-block;
    color: #fff;
    font-weight: 300;
    font-size: 80%;
    margin-bottom: 1em;
}

.title h1 {
    display: inline;
    font-weight: 300;
    margin-right: 10px;
}

.title h3 {
    display: inline;
    font-weight: 100;
}

/*LANG BUTTONS*/

.langbtns {
    display: inline-block;
    position: absolute;
    right: 20px;
    height: 30px;
}

.langbutton {
    display: inline-block;
    height: 30px;
    width: 50px;
    padding: 5px;
    border: #fff solid 1px;
    opacity: 0.2;
}

.langbutton:hover {
    opacity: 1;
}

.eng {
    background-image: url("../img/eng.png");
    background-size: cover;
}

.rus {
    background-image: url("../img/ruse.png");
    background-size: cover;
}

.rusrom {
    background-image: url("../img/rusr.png");
    background-size: cover;
}

.esp {
    background-image: url("../img/esp.png");
    background-size: cover;
}


/*SEARCHBAR*/

.search {
    position: absolute;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
    top: 10px;
    right: 20px;
    display: block;
    transition: all .2s;
}

.search:hover {
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
    border: #00000033 solid 1px;
}

.searchInput {
    height: 35px;
    background-color: #fff;

    color: black;
    padding: 0 10px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.searchInput::placeholder {
    font-style: italic;
    font-family: 'Montserrat';
}

.searchButton {
    position: relative;

    background-color: rgb(177, 71, 92);
    border: solid 2px rgb(177, 71, 92);
    padding: 7px 13px;
    color: #fff;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    margin-right: -4px;
    height: 35px;
    transition: color 0.3s, background-color 0.3s, border 0.1s;
}

.searchButton:hover {
    border-color: dimgray;
    background-color: dimgray;
    color: #fff;

}

.container{
    width: 100%;
    display: flex;
}

.posts_container{
    width: 75%;
}

.sidebar_container{
    width: 25%;
}

.sidebar{
    margin-left: 1em;
    padding: 2em 1em;
    min-height: 300px;
    margin-bottom: 2em;
    background-color: #fff;
    border: rgba(144, 144, 144, 0.5) 1px solid;
    clear: both;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.3);
}

.sidebar_post{
    text-decoration: none;
    transition: 0.2s;
    display: flex;
    background-color: #fff;
    flex-direction: column;
    color: #595959;
}
.sidebar_post_content{
    padding: 1em;
}

.sidebar-btn{
    width: 100%;
    text-align: center;
    border: none;
    color: #595959;
}

.sidebar_post:hover {
    background-color: rgb(177, 71, 92);
    color: #fff;
}

.sidebar_post_image{
    width: 100%;
    height: 10vw;
}

/*Pagination*/
.pagination{
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: center;
}
.pagination li{
    padding: 1em;
    font-size: 1.5em;
    font-family: "Open Sans";
}
.pagination a{
    color: #595959;
    text-decoration: none;
}
.page-item + .active{
    font-weight: 800;
}


/*COLUMN AND OBJ*/

.Column {
    width: 50%;
    text-align: center;

}

.x3obj {
    display: inline-block;
    margin: 10px;
    width: 30%;
    text-align: justify;
    padding: 30px;
    line-height: 1.5;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.3)
}

.x2obj {
    text-decoration: none;
    display: inline-block;
    margin: 15px;

    min-height: 150px;
    text-align: center;
    padding: 25px 10px;
    line-height: 1.5;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.3)
}

.x2obj p {
    text-align: justify;
    margin: 15px
}

.x2obj img {
    max-width: 50%;
    text-align: center
}

.objred {
    background: #fff;
    color: dimgray;
    transition: transform 0.2s, box-shadow 0.3s;
}

.objoran {
    background: rgb(163, 111, 51);
    color: #fff;
    transition: background 0.2s, color 0.2s;
}

.objwhite {
    background: #fff;
    color: dimgray;
    transition: transform 0.2s, box-shadow 0.3s;
}

.objoran:hover,
.objred:hover,
.objwhite:hover {
    background: rgb(177, 71, 92);
    color: #fff;
    transform: translateY(-5px);
    box-shadow: 0 7px 15px 6px rgba(0, 0, 0, 0.4)
}

.x2obj h3,
.x3obj h3 {
    margin-bottom: 5px;
}


.readMore {
    margin: 15px 0;
    padding: 15px;
    background-color: rgb(177, 71, 92);
    text-decoration: none;

    color: white;
    transition: color 0.2s, background-color 0.2s, border 0.2s;
}

.readMore:hover {
    border: solid 5px rgb(177, 71, 92);
    color: rgb(177, 71, 92);
    text-decoration: none;

    background-color: white;

}


.loadMore {
    background-color: rgb(177, 71, 92);
    text-decoration: none;
    border: solid 5px rgb(177, 71, 92);

    color: white;
    border-style: solid;
    margin: 15px 0;
    padding: 15px;
    width: 100%;
    transition: color 0.2s, background-color 0.2s, border 0.2s;
}


.loadMore:hover {
    border: solid 5px rgb(177, 71, 92);
    color: rgb(177, 71, 92);
    text-decoration: none;

    background-color: white;

}




/*BANNER*/
.banner {
    background-color: #fff;
    width: 75vw;
    padding: 30px 100px;
    left: 50%;
    top: -20px;
    font-size: 18px;
    position: relative;
    text-align: center;
    transform: translateX(-50%);
    line-height: 1.8;
    border-bottom: 1px solid dimgray;
    border-top: 1px solid dimgray;
    box-shadow: 3px 0 20px 0 rgba(0, 0, 0, 0.4); 
    clear: both;
}

.banner h3 {
    font-size: 24px;
}




footer {
    bottom: -10px;
    text-align: center;
    font-weight: 500;
}




/*POST PAGE STUFF*/

.post {
    background-color: #fff;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.3);
    width: 75%;
    min-height: 200px;
}

.post_link{
    background-color: #fff;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.3);
    width: 100%;
    min-height: 200px;
}

.post_container img {
    max-width: 100%;
    height: auto;
}

.post h1 {
    margin: 0 0 10px 0;
}

.post_container {
    margin: 0 45px;
}


.sidebar hr {
    margin: 10px 0;
}

.sidebar h3 {
    text-align: center;
    padding-bottom: 1em;
}

.section {
    margin-bottom: 2em;
    color: inherit;
    background-color: #fff;
    transition: color 0.2s, background-color 0.2s;
}

.section img {
    opacity: 1;
    transition: opacity 0.5s linear;
}

.unlinkStyle {
    text-decoration: none;
    color: inherit;
}

/*CLass for timestamp on posts/projects*/
.timestamp {
    text-align: right;
    font-style: italic;
    margin: 0;
}


.section:hover {
    color: white;
    background-color: rgb(177, 71, 92);

}

.section:hover img {
    opacity: 0.7;


}

.post_thumbnail {
    min-height: 20vw;
    background-position: center;
    background-size: cover;
    width: 100%;
    object-fit: contain;
    background-image: linear-gradient(rgba(235, 145, 43, 0.799), rgba(232, 141, 131, 0.899));

}

/*HOMEPAGE*/

.homepage-container{
    width: 100%;
}
.homepage-content{
    display: flex;
    margin: 2em;
    justify-content: space-between;
    font-family: "Public Sans";
    font-size: large;
    color: #151515;
}
.homepage-content div{
    width: 45%;
    text-align: initial;
}
.homepage-profile-pic{
    width: 30%;
    float: left;
    padding: 1em;
    border-radius: 100%;
}
.homepage-quick-links{
    display: grid;
    list-style: none;
}
.homepage-quick-links a{
    text-decoration: none;
    color: rgb(141, 56, 73);
    transition: 0.2s;
    font-size: 1.25em;
}
.homepage-quick-links li{
    padding: 0.5em 0;
}
.homepage-quick-links a:hover{
    color: rgba(0, 0, 0, 0.4);
}

.homepage-gallery{
    display: grid;
    grid-template-columns: 50% 50%;
}
.homepage-gallery img{
    width: 100%;
}



/*BACKEND*/

.row{
    width: 100%;
    padding: 1em;
}

.row input{
    width: 100%;
    padding: 1em;
    margin: 1em 0;
}
.row textarea{
    margin: 1em 0;
}
.row select {
    margin:  1em 0;
    padding: 1em;
    background-color: #fff;
    font-size: large;
    
}


.row label{
    font-size: 2em;
    
}

.endSection{
    display: flex;
    margin: 2em auto 1em auto;
    justify-content: center;
}

.social-button {
    display: block;
    font-size: 2em;
    opacity: 0.90;
    margin: 0 15px;
    border-radius: 100%;
    border: none;
    width: 70px;
    height: 70px;
    transition: background-color 0.4s, height 0.4s, width 0.4s, color 0.4s, opacity 0.4s;
    color: white;
    background-color: rgb(177, 71, 92);
    box-shadow: 0 3px 7px 0px black;
}

.social-button:hover {
    background-color: lightgrey;
    color: black;
    box-shadow: inset 0px 1px 3px 0px black;
}

/*TESTING*/





/*TESTING*/



@media only screen and (max-width: 1185px) {
    .topbar {
        width: 86vw;
    }

    .main {
        width: 86vw;
    }

    .x2obj {
        width: 90%
    }

    

    .banner {
        border-left: 1px solid rgb(194, 194, 194);
        border-right: 1px solid rgb(194, 194, 194);

    }

    .sidebar {
        float: none;
        display: none;

    }

    .post {
        width: 100%;

    }

}

@media only screen and (max-width: 985px) {

    

    .banner {
        font-size: 1.8vw;

    }

    .banner.h3 {
        font-size: 1.8vw;
    }


    .title {
        left: 70px;
    }

    .navbar {
        overflow: hidden;
        left: 0;
        text-align: center;
        width: 100%;
    }

    .jamesPic {
        top: 25%;
        margin-left: 10px;
        height: 40px;
        width: 40px;
    }



}

@media only screen and (max-width: 830px) {


    .navbar a {
        font-size: 80%;
        padding: 10px 20px;
    }

    .Column {
        width: 100%;
    }


    .jamesPic {
        top: 25%
    }

    .title {

        left: 60px;
        top: 17px;
        position: relative;

    }

    .title h3 {
        display: none;
    }


}

@media only screen and (max-width: 650px) {
    .post_container {
        margin: 0 15px;
    }

    .main,
    .topbar {
        width: 100%;
    }

    body {
        margin: 0;
    }

    .banner {
        width: 100vw
    }




    .search {
        right: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 220px;
    }

    .searchInput {
        width: 80%;
    }

    .jamesPic {
        display: inline-block;
        position: absolute;
        top: 35%;
        transform: translateY(-50%);

        border-radius: 100%;
        margin-left: 10px;

    }

    .langbtns {
        top: 26px;

    }

    .langbutton {
        display: inline-block;
        height: 15px;
        width: 25px;
        padding: 5px;
        border: #fff solid 1px;
        opacity: 0.2;
    }

    .title {
        top: 25px;
        left: 65px;
    }

    .navbar a {
        font-size: 90%;
        padding: 5px;
        margin: 2px;
    }
}

@media only screen and (max-width: 488px) {
    footer {
        font-size: 70%;
    }

    body {
        font-size: 70%;
    }

    .main {
        padding: 80px 10px 20px 10px
    }


    .banner {
        padding: 10px 10px;
        font-size: 12px;
        width: 100vw;
    }

    .banner h3 {
        font-size: 22px;
        padding-bottom: 20px
    }

}

@media only screen and (max-width: 300px) {
    .banner {
        width: 100%;
    }
}
