* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    backface-visibility: hidden;
}

.left {
    float: left;
}

.right {
    float: right
}

.clear {
    clear: both;
}

body {
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: 10px;

    color: #595959;
    text-align: justify;
    
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    min-width: 300px;


}

.main {
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.3);
    margin: 0;
    background: rgba(255, 255, 255, 0.89);
    width: 75vw;
    padding: 1em 2em;
    position: relative;
    left: 50%;
    overflow-x: hidden;
    transform: translateX(-50%);
    border-left: 1px solid rgb(194, 194, 194);
    border-right: 1px solid rgb(194, 194, 194);


}

.topbar {
    display: inline-block;
    background-color: rgb(177, 71, 92);
    position: relative;
    width: 75vw;
    left: 50%;
    transform: translateX(-50%);
    padding: 1vw;
    border-left: 1px solid rgb(141, 56, 73);
    border-right: 1px solid rgb(141, 56, 73);
    border-top: 1px solid rgb(141, 56, 73);

}

.topbar-section{
    display: flex;
    flex-direction: column;
    padding: 0 2em;
}

.control-nav {
    background-color: #595959;
    width: 75vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 1em;
    color: #595959;

}

.control-nav a,
.control-nav button {
    border: none;
    text-decoration: none;
    padding: 10px;
    margin: 0 2px;
    font-size: 11px;
    background-color: #fff;
    color: rgb(177, 71, 92);
    display: inline-block;
    transition: background-color 0.15s, color 0.15s;
}

.control-nav a:hover {
    background-color: rgb(177, 71, 92);
    color: #fff;
}

.jamesPic {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 80px;
    width: 80px;
    border-radius: 100%;
    margin-left: 30px;

}

.navbar a, .btn {
    text-decoration: none;
    padding: 0.75em 2em;
    margin: 0 1em 0 0;
    background-color: #fff;
    color: rgb(177, 71, 92);
    display: inline-block;
    transition: background-color 0.15s, color 0.15s;
}

.btn{
    border: rgb(177, 71, 92) 2px solid;
}

.navbar a:hover, .btn:hover {
    background-color: rgb(177, 71, 92);
    color: #fff;
}

.navbar {
    font-weight: 500;
    width: 100%;
    text-align: left;
}


.title {
    display: inline-block;
    color: #fff;
    font-weight: 300;
    margin-bottom: 1em;
}

.title h1 {
    display: inline;
    font-weight: 300;
    margin-right: 10px;
}

.title h3 {
    display: inline;
    font-weight: 100;
}

/*SEARCHBAR*/

.search {
    text-align: right;
    display: block;
    transition: all .2s;
}

.searchInput {
    height: 3em;
    background-color: #fff;

    color: black;
    padding: 0 10px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.searchInput::placeholder {
    font-style: italic;
    font-family: 'Montserrat';
}

.searchButton {
    position: relative;
    background-color: rgb(177, 71, 92);
    border: solid 2px rgb(177, 71, 92);
    padding: 0px 13px;
    color: #fff;
    height: 3em;
    left: 10px;
    transition: color 0.3s, background-color 0.3s, border 0.1s;
}

.searchButton:hover {
    border-color: dimgray;
    background-color: dimgray;
    color: #fff;

}

.container{
    width: 100%;
    display: flex;
}

.posts_container{
    width: 75%;
}

.sidebar_container{
    width: 25%;
}

.sidebar{
    margin-left: 1em;
    padding: 2em 1em;
    min-height: 300px;
    margin-bottom: 2em;
    background-color: #fff;
    border: rgba(144, 144, 144, 0.5) 1px solid;
    clear: both;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.3);
}

.sidebar_post{
    text-decoration: none;
    transition: 0.2s;
    display: flex;
    background-color: #fff;
    flex-direction: column;
    color: #595959;
}
.sidebar_post_content{
    padding: 1em;
}

.sidebar-btn{
    width: 100%;
    text-align: center;
    border: none;
    color: #595959;
}

.sidebar_post:hover {
    background-color: rgb(177, 71, 92);
    color: #fff;
}

.sidebar_post_image{
    width: 100%;
    height: 10vw;
}

/*Pagination*/
.pagination{
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: center;
}
.pagination li{
    padding: 1em;
    font-size: 1.5em;
    font-family: "Open Sans";
}
.pagination a{
    color: #595959;
    text-decoration: none;
}
.page-item + .active{
    font-weight: 800;
}


/*COLUMN AND OBJ*/

.Column {
    width: 50%;
    text-align: center;

}

.x3obj {
    display: inline-block;
    margin: 10px;
    width: 30%;
    text-align: justify;
    padding: 30px;
    line-height: 1.5;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.3)
}

.x2obj {
    text-decoration: none;
    display: inline-block;
    margin: 15px;

    min-height: 150px;
    text-align: center;
    padding: 25px 10px;
    line-height: 1.5;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.3)
}

.x2obj p {
    text-align: justify;
    margin: 15px
}

.x2obj img {
    max-width: 50%;
    text-align: center
}

.objred {
    background: #fff;
    color: dimgray;
    transition: transform 0.2s, box-shadow 0.3s;
}

.objoran {
    background: rgb(163, 111, 51);
    color: #fff;
    transition: background 0.2s, color 0.2s;
}

.objwhite {
    background: #fff;
    color: dimgray;
    transition: transform 0.2s, box-shadow 0.3s;
}

.objoran:hover,
.objred:hover,
.objwhite:hover {
    background: rgb(177, 71, 92);
    color: #fff;
    transform: translateY(-5px);
    box-shadow: 0 7px 15px 6px rgba(0, 0, 0, 0.4)
}

.x2obj h3,
.x3obj h3 {
    margin-bottom: 5px;
}


.readMore {
    margin: 15px 0;
    padding: 15px;
    background-color: rgb(177, 71, 92);
    text-decoration: none;

    color: white;
    transition: color 0.2s, background-color 0.2s, border 0.2s;
}

.readMore:hover {
    border: solid 5px rgb(177, 71, 92);
    color: rgb(177, 71, 92);
    text-decoration: none;

    background-color: white;

}


.loadMore {
    background-color: rgb(177, 71, 92);
    text-decoration: none;
    border: solid 5px rgb(177, 71, 92);

    color: white;
    border-style: solid;
    margin: 15px 0;
    padding: 15px;
    width: 100%;
    transition: color 0.2s, background-color 0.2s, border 0.2s;
}


.loadMore:hover {
    border: solid 5px rgb(177, 71, 92);
    color: rgb(177, 71, 92);
    text-decoration: none;

    background-color: white;

}




/*BANNER*/
.banner {
    background-color: #fff;
    width: 75vw;
    padding: 30px 100px;
    left: 50%;
    top: 1em;
    position: relative;
    text-align: center;
    transform: translateX(-50%);
    line-height: 1.8;
    border-bottom: 1px solid dimgray;
    border-top: 1px solid dimgray;
    box-shadow: 3px 0 20px 0 rgba(0, 0, 0, 0.4); 
    clear: both;
}

.banner h3 {
    font-size: 24px;
}




footer {
    bottom: -10px;
    text-align: center;
    font-weight: 500;
}




/*POST PAGE STUFF*/

.post {
    background-color: #fff;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.3);
    width: 75%;
    min-height: 200px;
}

.post_link{
    background-color: #fff;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.3);
    width: 100%;
    min-height: 200px;
}

.post_container img {
    max-width: 100%;
    height: auto;
}

.post h1 {
    margin: 0 0 10px 0;
}

.post_container {
    margin: 0 45px;
}


.sidebar hr {
    margin: 10px 0;
}

.sidebar h3 {
    text-align: center;
    padding-bottom: 1em;
}

.section {
    margin-bottom: 2em;
    color: inherit;
    background-color: #fff;
    transition: color 0.2s, background-color 0.2s;
}

.section img {
    opacity: 1;
    transition: opacity 0.5s linear;
}

.unlinkStyle {
    text-decoration: none;
    color: inherit;
}

/*CLass for timestamp on posts/projects*/
.timestamp {
    text-align: right;
    font-style: italic;
    margin: 0;
}


.section:hover {
    color: white;
    background-color: rgb(177, 71, 92);

}

.section:hover img {
    opacity: 0.7;


}

.post_thumbnail {
    min-height: 20vw;
    background-position: center;
    background-size: cover;
    width: 100%;
    object-fit: contain;
    background-image: linear-gradient(rgba(235, 145, 43, 0.799), rgba(232, 141, 131, 0.899));

}


/*BACKEND*/

.row{
    width: 100%;
    padding: 1em;
}

.row input{
    width: 100%;
    padding: 1em;
    margin: 1em 0;
}
.row textarea{
    margin: 1em 0;
}
.row select {
    margin:  1em 0;
    padding: 1em;
    background-color: #fff;
    font-size: large;
    
}


.row label{
    font-size: 2em;
    
}

.endSection{
    display: flex;
    margin: 2em auto 1em auto;
    justify-content: center;
}

.social-button {
    display: block;
    font-size: 2em;
    opacity: 0.90;
    margin: 0 0.5em;
    border-radius: 100%;
    border: none;
    width: 2em;
    height: 2em;
    transition: background-color 0.4s, height 0.4s, width 0.4s, color 0.4s, opacity 0.4s;
    color: white;
    background-color: rgb(177, 71, 92);
    box-shadow: 0 3px 7px 0px black;
}
.social-button:focus{
    outline: 0;
}
.social-button:hover {
    background-color: lightgrey;
    color: black;
    box-shadow: inset 0px 1px 3px 0px black;
}

/*TESTING*/





/*TESTING*/

@media only screen and (min-width: 1500px) {

    body {
        font-size: 1vw;
    }
    
    .title {
        font-size: 1vw;
    }
    .main{
        padding: 1vw 2vw;
    }
    .row input{
        width: 100%;
        padding: 1em;
        margin: 1em 0;
        font-size: 1vw;
    }
    .row textarea{
        margin: 1em 0;
        font-size: 1vw;
    }
    .social-button {
        margin: 0 1vw;
        width: 4vw;
        height: 4vw;
    }
    .endSection{
        margin: 2vw auto 1vw auto;
    }
    .banner{
        padding: 3vw;
    }
    .searchButton{
        height: 2vw;
        padding: 0px 0.8vw;
    }
    .searchInput{
        height: 2vw;
        padding: 0px 0.8vw;
    }





}


@media only screen and (max-width: 1185px) {
    .topbar, .main, .banner {
        width: 86vw;
    }

    .x2obj {
        width: 90%
    }

    

    .banner {
        border-left: 1px solid rgb(194, 194, 194);
        border-right: 1px solid rgb(194, 194, 194);

    }

    .sidebar {
        float: none;
        display: none;

    }

    .post {
        width: 100%;

    }
    .navbar{
        width: 100%;
    }

}

@media only screen and (max-width: 985px) {

    

    .banner {
        font-size: 1.8vw;

    }

    .banner.h3 {
        font-size: 1.8vw;
    }


    .title {
        left: 70px;
    }

    .navbar {
        overflow: hidden;
        left: 0;
    }

    .navbar a{
        padding: 0.75em 1.5em;
    }

    .jamesPic {
        top: 25%;
        margin-left: 10px;
        height: 40px;
        width: 40px;
    }



}


@media only screen and (max-width: 650px) {
    body{
        margin: 0;
        font-size: inherit;
    }

    .navbar{
        text-align: center;
        display: flex;
        margin-bottom: 1em;

    }
    .navbar a {
        font-size: 90%;
        width: 25%;
        padding: 0.75em 0;
        margin: 0 0.3em; 
    }
    .title { 
        position: initial;
        margin-bottom: 1em;
    }

    .title h1{
        display: inherit;
        margin-right: 0;
        font-size: 32px;
        text-align: center;
    }

    .title h3 {
        display: none;
    }
   
    .row input{
        font-size: 1em;
    }
    .row textarea{
        font-size: 1em;
    }
   
    .post_container {
        margin: 0 15px;
    }

    .main,
    .topbar {
        width: 100%;
    }

    body {
        margin: 0;
    }

    .banner {
        width: 100vw
    }



    .search {
        text-align: center;
    }

    .searchInput {
        width: 80%;
    }

    .jamesPic {
        display: inline-block;
        position: absolute;
        top: 35%;
        transform: translateY(-50%);

        border-radius: 100%;
        margin-left: 10px;

    }

    .social-button{
        width: 2em;
        height: 2em;
    }

    
}

@media only screen and (max-width: 488px) {
    footer {
        font-size: 70%;
    }

    .banner {
        font-size: 12px;
        width: 100vw;
    }

    .banner h3 {
        font-size: 22px;
        padding-bottom: 20px
    }
    .title{
        margin-bottom: 2em;
    }
    .topbar-section{
        padding: 0 0.2em;
    }
    
}

@media only screen and (max-width: 300px) {
    .banner {
        width: 100%;
    }
    .main{
        padding: 1em 0;
    }
}
